/*html {*/
/*   position: relative;*/
/*   min-width: 1024px;*/
/*   min-height: 768px;*/
/*   height: 100%;*/
/*}*/

html, body {
  /*width: 100%;*/
  /*height: 100%;*/
  /*overflow-y: auto;*/
  /*position: relative;*/
  /*height: 768px;*/
}

body {
  /*width: 1024px;*/
  /*height: 700px;*/
  /*height: auto;*/
  /*overflow: auto;*/
  background-color:white;
  background-image:
          linear-gradient(90deg, rgba(255,0,0,.5) 50%, transparent 50%),
          linear-gradient(rgba(255,0,0,.5) 50%, transparent 50%);
  background-size:50px 50px;
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}

/*body {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  overflow-y: auto;*/
/*}*/

/*html {*/
/*  height: 100%;*/
/*}*/

/*body {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-height: 100vh;*/
/*  margin:0;*/
/*}*/

nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  font-size: 30px;
}

nav a {
  color: black;
}

#logo {
  font-family: 'Limelight', cursive;
  font-size: 45px;
}

/*main {*/
/*  height: 500px;*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 2fr 1fr;*/
/*  grid-template-rows: 1fr 1fr 3fr;*/
/*}*/

/*.all {*/
/*  height: 500px;*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 2fr 1fr;*/
/*  grid-template-rows: 1fr 1fr 3fr;*/
/*}*/

.all {
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 3fr;
}.all > *:nth-child(1) {
   -ms-grid-row: 1;
   -ms-grid-column: 1;
 }.all > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }.all > *:nth-child(3) {
     -ms-grid-row: 1;
     -ms-grid-column: 3;
   }.all > *:nth-child(4) {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
    }.all > *:nth-child(5) {
       -ms-grid-row: 2;
       -ms-grid-column: 2;
     }.all > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
      }.all > *:nth-child(7) {
         -ms-grid-row: 3;
         -ms-grid-column: 1;
       }.all > *:nth-child(8) {
          -ms-grid-row: 3;
          -ms-grid-column: 2;
        }.all > *:nth-child(9) {
           -ms-grid-row: 3;
           -ms-grid-column: 3;
         }

aside {
  /*height: 730px;*/
  /*clear: both;*/
  /*float: right;*/
  /*position: absolute;*/
  /*width: 200px;*/
  /*top: 300px;*/
  /*bottom: 20px;*/
  /*overflow: auto;*/
  /*flex: 0 0 150px;*/
  padding: 20px;
  /*height: 100vh;*/
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(252, 236, 212, 1);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    aside {
        height: 730px;
    }
    footer {
        position: fixed;
    }
}

#receipt {
  background-color: bisque;
  width: 40%;
  height: 50%;
  visibility: hidden;
}

#price-display {
  float: right;
  margin-top: 10px;
}

li {
  list-style: none;
  margin-bottom: -5px;
}

h2 {
  text-align: center;
  font-weight: 900;
}

a:nth-of-type(2) + p, a:nth-of-type(2) {
  font-family: Quicksand, sans-serif;
}

input {
  margin: 10px 5px;
}

.place-mat {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;

}

.plate {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 330px;
  background-color: white;
  border-radius: 180px;
  border: 1px solid black;
}

.pizza {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: wheat;
  border-radius: 180px;
}

.sauce {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  width: 270px;
  background-color: red;
  border-radius: 180px;
}

.cheese {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 240px;
  background-color: lightyellow;
  border-radius: 180px;
}

#ing1 {
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius:180px;
  z-index: 1;
}

#ing2 {
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 180px;
  z-index: 2;
}

#ing3 {
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 180px;
  z-index: 3;
}

#ing4 {
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 180px;
  z-index: 4;
}

footer {
  /*clear: both;*/
  /*position: relative;*/
  /*height: 100px;*/
  /*margin-top: 400px;*/
  /*clear: both;*/
  /*margin: 0px auto;*/
  background-color: white;
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  font-family: 'Kaushan Script', cursive;
  color: gray;
}
/*.container {*/
/*  padding: 2rem 0rem;*/
/*}*/

h4 {
  margin: 2rem 0rem 1rem;
}

/*.table-image*/
/*td, th {*/
/*  vertical-align: middle;*/
/*}*/

.mb-4 {
  color: white;
}

.boss {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.w-15 {
  width: 15% !important;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

/*#pizzaForm {*/
/*  height: 150px;*/
/*}*/

/*#form1 {*/
/*  height: 5px;*/
/*}*/

/*ul {*/
/*  height: 10px;*/
/*}*/
fieldset {
  /*margin:0px;*/
  margin-bottom: -20px;
  padding: 0px;
}