<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Tre Signori</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body style="background-image:url('images/bg_4.jpg'); background-repeat: no-repeat;
background-size: cover;">
<div th:replace="base :: navlinks"></div>
<div style="display: flex; justify-content: flex-end">
    <form th:action="@{/search}" method="post">
        <input type="text" name="search" placeholder="Enter the search name" required>
        <input type="submit" value="Search">
    </form>
</div>

<!--<h1>All Orders</h1>-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Date</th>
                    <th scope="col">Pizza</th>
                    <th scope="col">Price</th>
                    <th scope="col">Toppings</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="order: ${orders}">

                    <th scope="row" th:text="${order.user.username}"></th>
                        <td th:text="${#temporals.format(order.dateTime,'MMM-dd-yyyy hh:mm a')}"></td>
                            <td class="w-15">
                                <div th:if="${order.toppings.contains('cauliflower')}">
                                    <img src="https://res.cloudinary.com/a-name-not-already-taken/image/upload/v1583615254/pizza/B.jpg"
                                         class="img-fluid img-thumbnail" alt="Cauliflower">
                                </div>
                                <div th:if="${order.toppings.contains('whole wheat')}">
                                    <img src="https://res.cloudinary.com/a-name-not-already-taken/image/upload/v1583615254/pizza/P.jpg"
                                         class="img-fluid img-thumbnail" alt="Whole wheat">
                                </div>
                                <div th:if="${order.toppings.contains('traditional')}">
                                    <img src="https://res.cloudinary.com/a-name-not-already-taken/image/upload/v1583615254/pizza/V.jpg"
                                         class="img-fluid img-thumbnail" alt="Traditional">
                                </div>
                            </td>

                        <td th:text="${#numbers.formatCurrency(order.price)}"></td>
                        <td class="w-25" th:text="${order.toppings}"></td>
                        <td th:text="${order.user.email}"></td>
                    <td>
                        <span>
                            <a class="btn btn-primary" a href="#">Send Email</a>
                            <a class="btn btn-warning" th:href="@{/update/{id}(id=${order.id})}">Update</a>
                            <a class="btn btn-danger" th:href="@{/delete/{id}(id=${order.id})}">Delete</a>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>Top Three Toppings</p>
<div th:text="${totalSales}"> </div>
<div th:text="${topThreeToppings}"> </div>

<div th:replace="base :: footer "></div>

<style>
    .container {
        color: white;
    }
</style>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>