<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Tre Signori</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body style="background-repeat: no-repeat; background-size: cover;">
<div th:replace="base :: navlinks"></div>

<div class="slider-item">
    <div class="overlay"></div>
    <div class="container">
        <div class="row slider-text align-items-center" data-scrollax-parent="true">

            <div class="col-md-6 col-sm-12 <!--ftco-animate-->">
                <span class="subheading">Wondrous</span>
                <h1 class="mb-4">San Antonio's Pizza</h1>
                <p class="mb-4 mb-md-5"> “My soul tasted that heavenly food, which gives new appetite while it satiates.” -- Dante</p>
                <p><a href="/addPizza" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
            </div>
            <div class="col-md-6 <!--ftco-animate-->">
                <img src="images/bg_1.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>

    <div th:replace="base :: footer "></div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        p, span {
            color: white;
        }
        footer {
            background-color: black;
        }
    </style>
</body>
</html>

<!--<!DOCTYPE html >-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">-->
<!--    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">-->
<!--    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">-->

<!--    <link rel="stylesheet" href="css/style.css">-->
<!--    <link rel="stylesheet" href="css/styles.css">-->
<!--</head>-->

<!--<body style="background-image:url('images/image_3.jpg'); background-repeat: no-repeat; background-size: cover;">-->
<!--<div th:replace="base :: navlinks"></div>-->


<!--<div class="log-container">-->
<!--    <h1>Login Page</h1>-->
<!--    <div th:if="${param.error}">-->
<!--        Invalid username or password-->
<!--    </div>-->
<!--    <div th:if="${param.logout}">-->
<!--        You have been logged out-->
<!--    </div>-->

<!--    <form th:action="@{/login}" method="post">-->
<!--        <div>-->
<!--            <label>User name: </label>-->
<!--            <input type="text" name="username" required />-->
<!--        </div>-->

<!--        <div>-->
<!--            <label>Password: </label>-->
<!--            <input type="password" name="password" required />-->
<!--        </div>-->
<!--        <div><input class="btn btn-primary" type="submit" value="Sign in"/></div>-->
<!--    </form>-->
<!--</div>-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div  th:replace="base :: footer"></div>-->
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"-->
<!--        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"-->
<!--        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"-->
<!--        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"-->
<!--        crossorigin="anonymous"></script>-->
<!--<style>-->

<!--    h1 {-->
<!--        margin: 0 auto;-->
<!--        display: inline-block;-->
<!--        align-self: center;-->
<!--    }-->

<!--    label {-->
<!--        display: block;-->
<!--        color: white;-->
<!--    }-->

<!--    input[type="text"], input[type="password"] {-->
<!--        width: 400px;-->
<!--    }-->

<!--    input[type="submit"] {-->
<!--        align-self: center;-->
<!--        text-align: center;-->
<!--    }-->

<!--    .log-container {-->
<!--        display: flex;-->
<!--        flex-direction: column;-->
<!--        justify-content: center;-->
<!--        align-content: center;-->
<!--        align-items: center;-->
<!--    }-->
<!--    footer {-->
<!--        background-color: black;-->
<!--    }-->

<!--</style>-->
<!--</body>-->
<!--</html>-->
<!--<div th:replace="base :: navlinks"></div>-->




<!--&lt;!&ndash;<div class="jumbotron jumbotron-fluid" style="background-image: url(images/bg_1.jpg);">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="slider-item">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="overlay"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="row slider-text align-items-center" data-scrollax-parent="true">&ndash;&gt;-->

<!--&lt;!&ndash;            <div class="col-md-6 col-sm-12 &lt;!&ndash;ftco-animate&ndash;&gt;">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="subheading">Delicious</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <h1 class="mb-4">Italian Cuisine</h1>&ndash;&gt;-->
<!--&lt;!&ndash;                <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                <p><a href="/addPizza" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-6 &lt;!&ndash;ftco-animate&ndash;&gt;">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="images/bg_1.png" class="img-fluid" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


