<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>My Orders</h1>
<table>
    <tr>
        <th>Title&nbsp;&nbsp;&nbsp;</th>
        <th>Content&nbsp;&nbsp;&nbsp;</th>
        <th>Posted By&nbsp;&nbsp;&nbsp;</th>
        <td>Actions</td>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.toppings}"></td>
        <td th:text="${order.price}"></td>
        <td th:text="${order.user.username}"></td>

            <td>
                <span>
<!--                    <a class="btn btn-primary" th:href="@{/detail/{id}(id=${order.id})}">Details</a>-->
<!--                    <a class="btn btn-warning" th:href="@{/update/{id}(id=${order.id})}">Update</a>-->
<!--                    <a class="btn btn-danger" th:href="@{/delete/{id}(id=${order.id})}">Delete</a>-->
                </span>
            </td>
        </div>
    </tr>
</table>

</body>
</html>