<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Limelight&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9c2c348e64.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div th:replace="base :: navlinks"></div>


<!--<nav>-->
<!--    <a id="logo" href="#">Tre Signori</a>-->
<!--    <a href="#">Contact Us</a>-->
<!--    <p><i class="fas fa-search"></i><input type="search" placeholder="search"></p>-->

<!--</nav>-->

<main>
    <div class="place-mat">
        <div class="plate">
            <div class="pizza">
                <div class="sauce" style="visibility:hidden">
                    <div class="cheese" style="visibility:hidden">
                        <img id="ing1" src="#" alt="topping" style="visibility:hidden">
                        <img id="ing2" src="#" alt="topping" style="visibility:hidden">
                        <img id="ing3" src="#" alt="topping" style="visibility:hidden">
                        <img id="ing4" src="#" alt="topping" style="visibility:hidden">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="receipt">
        <p id="date">Date:</p>
        <p>Summary of Purchase:</p>
        <ul>
            <li id="dough">Dough:</li>
            <li id="sauce">Sauce:</li>
            <li id="cheese">Cheese:</li>
            <li id="toppingOne">Topping</li>
            <li id="toppingTwo">Placeholder</li>
            <li id="toppingThree">Placeholder</li>
            <li id="toppingFour">Placeholder</li>
        </ul>
        <p id="price">Price:</p>
        <a href="/myorders">See Your Orders</a>
        <p>Thank You, Buona Giornata</p>
    </div>


    <aside>

        <h2 class="boss">Buongiorno! How would you like your pizza?</h2>

        <form action="#" th:action="@{/addPizza}" th:object="${order}" method="post" id="pizzaForm">
            <input type="text" th:field="*{id}" id="pizzaFor"/>

            <fieldset id="form1" action="#">
                <legend>Dough</legend>
                <ul>
                    <li><input id="cau" type="radio" name="dough" value="cauliflower">Cauliflower</li>
                    <li><input id="who" type="radio" name="dough" value="whole wheat">Whole Wheat</li>
                    <li><input id="tra" type="radio" name="dough" value="traditional">Traditional</li>
                </ul>
            </fieldset>

            <fieldset id="form2">
                <legend>Sauce</legend>
                <ul>
                    <li><input id="cur" type="radio" name="sauce" value="curry">Curry</li>
                    <li><input id="cre" type="radio" name="sauce" value="cream">Cream</li>
                    <li><input id="mar" type="radio" name="sauce" value="marinara">Marinara</li>
                </ul>
            </fieldset>

            <fieldset id="form3" action="#">
                <legend>Cheese</legend>
                <ul>
                    <li><input id="moz" type="radio" name="cheese" value="mozzarella">Mozzarella</li>
                    <li><input id="ame" type="radio" name="cheese" value="american">American</li>
                    <li><input id="pro" type="radio" name="cheese" value="provolone">Provolone</li>
                </ul>
            </fieldset>

            <fieldset id="form4">
                <legend>Toppings</legend>
                <ul>
                    <li><input id="spi" name="toppings" value="spinach" type="checkbox">Spinach</li>
                    <li><input id="tom" name="toppings" value="tomatoes" type="checkbox">Tomatoes</li>
                    <li><input id="bac" name="toppings" value="bacon" type="checkbox">Bacon</li>
                    <li><input id="mus" name="toppings" value="mushrooms" type="checkbox">Mushrooms</li>
                </ul>
            </fieldset>
            <legend id="price-display">Price: $5.00</legend>
            <i class="fas fa-shopping-cart"></i>

            <input type="submit" value="Submit"/>
            <a href="/addPizza"> <button id="reset">Reset</button></a>
        </form>
        <!-- inside or outside?   -->

    </aside>
</main>
<footer style="background-color: brown;">
    <p>&copy;2020 Tre Signori</p>
    <p>Salute!</p>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!--<script src="js/ourjs.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

    // save orders on backend with AJAX
    // to Express?


    let PIZZA = document.querySelector(".pizza");
    let SAUCE = document.querySelector(".sauce");
    let CHEESE = document.querySelector(".cheese");
    let cau = document.querySelector("#cau");
    let who = document.querySelector("#who");
    let tra = document.querySelector("#tra");
    let cur = document.querySelector("#cur");
    let cre = document.querySelector("#cre");
    let mar = document.querySelector("#mar");
    let moz = document.querySelector("#moz");
    let ame = document.querySelector("#ame");
    let pro = document.querySelector("#pro");
    let top1 = document.querySelector("#ing1");
    let top2 = document.querySelector("#ing2");
    let top3 = document.querySelector("#ing3");
    let top4 = document.querySelector("#ing4");
    let pd = document.querySelector("#price-display");
    let pf = document.querySelector("#pizzaForm");

    let toppings = null;

    let idElement = document.getElementById("pizzaFor");
    // document.write(idElement.value);


    let menuForm = document.querySelector("#form1");
    menuForm.addEventListener("change", (e)=> {
        e.preventDefault();
        if(cau.checked == true) {
            console.log("cauliflower");

                toppings= toppings +" ,cauliflower";

            PIZZA.style.backgroundColor = "cornsilk";
        } else if (who.checked == true) {
            console.log("whole wheat");
            toppings = toppings + " ,whole wheat";
            PIZZA.style.backgroundColor = "darkgoldenrod";
        } else if (tra.checked == true) {
            console.log("traditional");
            toppings = toppings + " ,traditional";
            PIZZA.style.backgroundColor = "wheat";
        }
    });

    let menuForm2 = document.querySelector("#form2");
    menuForm2.addEventListener("change", (e)=> {
        e.preventDefault();
        if(cau.checked == false && who.checked === false && tra.checked == false) {
            alert("must start with dough");
            cur.checked = false;
            cre.checked = false;
            mar.checked = false;

        } else if (cau.checked == true || who.checked == true || tra.checked == true) {
            if(cur.checked == true) {
                console.log("curry");
                toppings = toppings + " ,curry";
                SAUCE.style.visibility = "visible";
                SAUCE.style.backgroundColor = "orange";
            } if (cre.checked == true) {
                console.log("cream");
                toppings = toppings + " , cream";
                SAUCE.style.visibility = "visible";
                SAUCE.style.backgroundColor = "oldlace";
            } if (mar.checked == true) {
                console.log("marinara");
                toppings = toppings + " ,marinara";
                SAUCE.style.visibility = "visible";
                SAUCE.style.backgroundColor = "tomato";
            }
        }
    });

    let menuForm3 = document.querySelector("#form3");
    menuForm3.addEventListener("change", (e)=> {
        e.preventDefault();
        if(cau.checked == false && who.checked == false && tra.checked == false
            && cur.checked == false && cre.checked == false && mar.checked == false){
            alert("you must check dough and sauce first");
            // reset to unchecked radio
            moz.checked = false;
            ame.checked = false;
            pro.checked = false;
        } else if (cur.checked == true || cre.checked == true || mar.checked == true) {
            if(moz.checked == true) {
                console.log("mozza");
                toppings = toppings + " ,mozzarella";
                CHEESE.style.visibility = "visible";
                CHEESE.style.backgroundColor = "lightyellow";
            } else if (ame.checked == true) {
                console.log("american");
                toppings = toppings + " ,american";
                CHEESE.style.visibility = "visible";
                CHEESE.style.backgroundColor = "yellow";
            } else if (pro.checked == true) {
                console.log("provolone");
                toppings = toppings + " ,provolone";
                CHEESE.style.visibility = "visible";
                CHEESE.style.backgroundColor = "bisque";
            }
        }
    });

    function priceChanger() {
        let counter = document.querySelectorAll('input[type="checkbox"]:checked').length;

        if(counter == 1) {
            pd.innerHTML = "Price: $5.00";
        } else if (counter == 2) {
            pd.innerHTML = "Price: $5.00";
        } else if (counter == 3){
            pd.innerHTML = "Price: $5.50";
        } else if (counter == 4){
            pd.innerHTML = "Price: $6.00";
        } else {
            console.log("testing priceChanger");
        }

    }

    let menuForm4 = document.querySelector("#form4");
    menuForm4.addEventListener("change", (e)=> {
        e.preventDefault();
        if(cau.checked == false && who.checked == false && tra.checked == false
            && cur.checked == false && cre.checked == false && mar.checked == false
            && moz.checked == false && ame.checked == false && pro.checked == false){
            console.log("test");
            alert("Dough, sauce, cheese, and then toppings.");
            spi.checked = false;
            top1.style.visibility = "hidden";
            tom.checked = false;
            top2.style.visibility = "hidden";
            bac.checked = false;
            top3.style.visibility = "hidden";
            mus.checked = false;
            top4.style.visibility = "hidden";
        }
        priceChanger();
    });

    spi.addEventListener("change", (e) => {
        if (spi.checked == true) {
            console.log("spinach");
            toppings = toppings + " ,spinach";
            top1.style.visibility = "visible";
            top1.src = "https://res.cloudinary.com/a-name-not-already-taken/image/upload/v1583622483/spinach.png";
            // priceChanger();
        } else {
            console.log("no spinach");
            top1.style.visibility = "hidden";
        }
    });

    tom.addEventListener("change", (e) => {
        if (tom.checked == true) {
            console.log("tomatoes");
            toppings = toppings + " ,tomatoes";
            top2.style.visibility = "visible";
            top2.src = "https://res.cloudinary.com/a-name-not-already-taken/image/upload/v1583622483/tomatoes.png";
            // priceChanger();
        } else {
            console.log("no tomatoes");
            top2.style.visibility = "hidden";
        }
    });

    bac.addEventListener("change", (e) => {
        if (bac.checked == true) {
            console.log("bacon");
            toppings = toppings + " ,bacon";
            top3.style.visibility = "visible";
            top3.src = "https://res.cloudinary.com/a-name-not-already-taken/image/upload/v1583622483/bacon.png";
            // priceChanger();
        } else {
            console.log("no bacon");
            top3.style.visibility = "hidden";
        }
    });

    mus.addEventListener("change", (e) => {
        if (mus.checked == true) {
            console.log("mushrooms");
            toppings = toppings + " ,mushrooms";
            top4.style.visibility = "visible";
            top4.src = "https://res.cloudinary.com/a-name-not-already-taken/image/upload/v1583622483/mushroom.png";
            // priceChanger();
        } else {
            console.log("no mushrooms");
            top4.style.visibility = "hidden";
        }
    });


    let selected = new Array();  // Global Array, pass downwards


    // how do you hide... the


    pf.addEventListener("submit", (e)=> {
        e.preventDefault();
        console.log("form test");
        // toggle to visible
        // alert: if checkboxes checked < 2
        // document.getElementsByTagName("FORM").style.display = "none";

        if(document.querySelectorAll('input[type="checkbox"]:checked').length < 2){
            alert("Two toppings are included with your pizza. Please add one.");
            resetInputs();
        } else {

            receipt.style.visibility = "visible";
        }

        // let selected = new Array();
        let chks = document.getElementsByTagName("INPUT");
        for (let i = 0; i < chks.length; i++) {
            if (chks[i].checked) {
                selected.push(chks[i].value);
            }
        }

        // add nulls...
        if(selected.length == 6) {
            // add one null
            selected.push("")
        } else if (selected.length == 5) {
            // add two nulls
            selected.push("","");
        } else if (selected.length == 4) {
            // add three nulls
            selected.push("", "", "")
        }

        // I need to create null values so price can work above
        // chks.length replaced by 8

        selected.push(pd.innerHTML);
        selected.map(a => console.log(a.toString()));
        // const selected = "pizza test";
        console.log(selected);
        // sub();

        if (idElement.value != 0) {
            update();
            console.log(idElement.value);

        }
        else {
            sub();
            console.log(idElement.value);

        }

        function update() {
            $.ajax({
                type: "POST",
                url: "/update/" + idElement.value,
                data: {
                    toppings: toppings,
                },
                success: function (result) {
                    console.log(result);
                    // window.location.href = "/";
                },
                error: function(result) {
                    window.location.href = "/login";
                }
            });
        }

        function sub() {
            $.ajax({
                type: "POST",
                url: "/addPizza",
                data: {
                    toppings: toppings,
                },
                success: function (result) {
                    console.log(result);
                    // window.location.href = "/";
                },
                error: function(result) {
                    window.location.href = "/login";
                }
            });
        }

        // use the ARRAY selected for the receipt:
        let today = new Date();

        let rec = document.querySelector("#receipt");
        let date = document.querySelector("#date");
        let dough = document.querySelector("#dough");
        let sauce = document.querySelector("#sauce");
        let cheese = document.querySelector("#cheese");
        let toppingOne = document.querySelector("#toppingOne");
        let toppingTwo = document.querySelector("#toppingTwo");
        let toppingThree = document.querySelector("#toppingThree");
        let toppingFour = document.querySelector("#toppingFour");
        let price = document.querySelector("#price");

        date.innerHTML = today;

        dough.innerHTML = selected[0];
        sauce.innerHTML = selected[1];
        cheese.innerHTML = selected[2];
        toppingOne.innerHTML = selected[3];
        toppingTwo.innerHTML = selected[4];
        toppingThree.innerHTML = selected[5];
        toppingFour.innerHTML = selected[6];
        price.innerHTML = selected[7];

    });

    function resetInputs(){
        PIZZA.style.backgroundColor = "wheat";
        SAUCE.style.backgroundColor = "wheat";
        CHEESE.style.backgroundColor = "wheat";
        spi.checked = false;
        tom.checked = false;
        bac.checked = false;
        mus.checked = false;
        top1.style.visibility = "hidden";
        top2.style.visibility = "hidden";
        top3.style.visibility = "hidden";
        top4.style.visibility = "hidden";
        cau.checked = false;
        who.checked = false;
        tra.checked = false;
        cur.checked = false;
        cre.checked = false;
        mar.checked = false;
        moz.checked = false;
        ame.checked = false;
        pro.checked = false;

        pd.innerHTML = "$5.00";
        receipt.style.visibility = "hidden";

    }

    let reset = document.querySelector("#reset");
    reset.addEventListener("click", (e)=> {
        e.preventDefault();
        // uncheck the entire page?
        resetInputs();
    });



    // AJAX ADDED BELOW //


    // let selected = `${cau.value}, ${who.value}, ${tra.value}, ${cur.value}, ${cre.value}, ${mar.value}, ${moz.value}, ${ame.value}, ${pro.value}`;
    // THIS WORKS FOR NUMBER let selected = document.querySelectorAll('input:checked').length;
    // let selected = document.querySelectorAll('input:checked').value;

    //Below: For non-Codepen

    // function sub() {
    //     $.ajax({
    //         type: "POST",
    //         url: "/addPizza",
    //         data: {
    //             toppings: toppings,
    //         },
    //         success: function (result) {
    //             console.log(result);
    //             // window.location.href = "/";
    //         },
    //         error: function(result) {
    //             window.location.href = "/login";
    //         }
    //     });
    // }

</script>
</body>
</html>
